{% extends "base.html" %}
{% block content %}
<h4>(<a href="/newpost">New post</a>)</h4>
	<!-- Photo Grid -->
	<div class="imageRow">
	  <div class="imageColumn">
		{% for img in images1 %}
		<img src="{{ img }}" style="width:100%">
		{% endfor %}
	  </div>
	  <div class="imageColumn">
		{% for img in images2 %}
		<img src="{{ img }}" style="width:100%">
		{% endfor %}
	  </div>
	  <div class="imageColumn">
		{% for img in images3 %}
		<img src="{{ img }}" style="width:100%">
		{% endfor %}
	  </div>
	</div>
{% endblock %}
